header{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.div__botoes{
    display: flex;
    gap: 3rem;

}


.botao__nav {
    position: relative;
    color: black;
    text-decoration: none;
   
}

.botao__nav::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.botao__nav:hover{
    color: white;
}


.botao__nav:hover::before {
    width: 100%; 

}


.botao__baixar {
    color: black;
    background-color: white;
    padding: 1em 2em;
    border-radius: 2rem;
    text-decoration: none;
    border: 2px solid black;
    
}


.botao__baixar:hover {
    background-color: black;
    color: white;
    transition: background-color 1s ease; 
}




.icon {
    position: relative; 
    top: 5px; 
    font-size: 2rem;
}


  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  

  @media (max-width: 768px) {
  

    .div__botoes{
        display: none;
    }

    .botao__container{
        display: none;
    }

  }
  