.section3{
    background-color: #51ef64;
    height: 70vh;
    padding: 5rem;
    border-bottom-left-radius: 2rem; 
    border-bottom-right-radius: 2rem; 
}

h3{
    font-size: 5rem;
}

.container__section3{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}